<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="VirtualRouterManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<system.serviceModel>
		<bindings>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IVirtualRouterHost" />
			</wsHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:31337/VirtualRouter/service"
				binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IVirtualRouterHost"
				contract="VirtualRouterService.IVirtualRouterHost" name="WSHttpBinding_IVirtualRouterHost">
				<identity>
					<servicePrincipalName value="host/sucaba.amber.ua" />
				</identity>
			</endpoint>
		</client>
	</system.serviceModel>
	<userSettings>
		<VirtualRouterManager.Properties.Settings>
			<setting name="Password" serializeAs="String">
				<value/>
			</setting>
			<setting name="SSID" serializeAs="String">
				<value>VirtualRouterManager.codeplex.com</value>
			</setting>
			<setting name="SharedConnectionGuid" serializeAs="String">
				<value>00000000-0000-0000-0000-000000000000</value>
			</setting>
		</VirtualRouterManager.Properties.Settings>
	</userSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
		<!--<IPermission
			class="EnvironmentPermission"
			version="1"
			Read="TEMP;TMP;USERNAME;OS;COMPUTERNAME"
		/>-->
	</startup>
	<!--<runtime>
		<assemblyBinding xmlns="urn:Schemas-microsoft-com:asm.v1">
			<probing privatePath=".\" />
		</assemblyBinding>
	</runtime>-->
</configuration>